/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius:  3px 3px 3px 3px;
  border-radius:  3px 3px 3px 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

body {
  font: normal x-small verdana,arial,helvetica,sans-serif;
  background-color: #d9d9d9;
}

#main {
  font: normal x-small verdana,arial,helvetica,sans-serif;
  background-color: #d9d9d9;
}

#comment_body {
  padding: 6px;
  padding-top:0px;
}

#comment-block-1{
  background-color: #eee !important;
  color: #555 !important;
  padding: 3px 3px 3px 3px;
  margin:  4px 0px 0px 4px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius:  3px 3px 3px 3px;
  border-radius:  3px 3px 3px 3px;
}

#comment-block-0{
  background-color: #d9d9d9 !important;
  color: #555 !important;
  padding: 3px 3px 3px 3px;
  margin:  4px 0px 0px 4px;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius:  3px 3px 3px 3px;
  border-radius:  3px 3px 3px 3px;
}

.actions {
  font: normal x-small verdana,arial,helvetica,sans-serif;
  #font-weight: bold;
  padding-left:4px
}

.nested_messages {
  margin-left: 30px;
}

.nested_messages .nested_messages .nested_messages .nested_messages {
  margin-left: 0;
}
